<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Europe</key>
		<dict>
			<key>Ukraine</key>
			<string>Kyiv</string>
			<key>England</key>
			<string>London</string>
			<key>Portugal</key>
			<string>Lissabon</string>
		</dict>
	</dict>
	<dict>
		<key>Asia</key>
		<dict>
			<key>Thailand</key>
			<string>Bangkok</string>
			<key>Oman</key>
			<string>Maskat</string>
			<key>Lebanon</key>
			<string>Beihrut</string>
		</dict>
	</dict>
	<dict>
		<key>Australia and Oceania</key>
		<dict>
			<key>Fiji</key>
			<string>Suva</string>
			<key>Australia</key>
			<string>Kanberra</string>
		</dict>
	</dict>
	<dict>
		<key>Northern America</key>
		<dict>
			<key>USA</key>
			<string>Washington D.C.</string>
			<key>Mexico</key>
			<string>Mexico city</string>
		</dict>
	</dict>
	<dict>
		<key>Southern America</key>
		<dict>
			<key>Chile</key>
			<string>Santiago</string>
			<key>Peru</key>
			<string>Lima</string>
			<key>Columbia</key>
			<string>Bogota</string>
		</dict>
	</dict>
	<dict>
		<key>Africa</key>
		<dict>
			<key>Mali</key>
			<string>Bamako</string>
			<key>Gana</key>
			<string>Akkra</string>
			<key>Togo</key>
			<string>Lome</string>
		</dict>
	</dict>
</array>
</plist>
